@charset "utf-8";

/* body */
body {
    background: #f2f2f2;
}
footer {
    margin-top: 40px;
}
a {
    text-decoration: none;
}
label {
    font-size: 20px;
}
p {
    margin: 0;
}
#level {
    font-size: 18px;
}

/* navbar */
.navbar {
    background-color: #fff;
    
}

.navbar-header a {
    margin-top: 15px;
    height: 40px;
    text-decoration: none;
}
.navbar-left {
    color: black;
    font-size: 20px;
    float: left;
    padding-left: 15px;
}
.navbar-right {
    margin-right: 80px;
}
.navbar-default .navbar-nav>li>a {
    color: black;
    font-size: 16px;
}
/* cover */
.cover {
    margin-top: -20px;
    width: 100%;
    height: 300px;
    background:  url("/images/cover-bg.jpg") center center no-repeat;
    background-size: 100% auto;
    
}
.cover .cover-inner {
    
    height: 100%;
    width: 100%;
    margin: auto;
    display: table;
}
.cover .cover-inner .cover-contents {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    position: relative;
}
.cover .cover-inner .cover-contents h1 {
    margin: 0 0 20px 0;
    color: #fff;
    font-weight: bold;
    letter-spacing: 0.15em;
}
.cover .btn-success {
    background-color: #ed486f;
    border-color: #ed486f;
}
.cover .btn-success a {
    color: #fff;
    text-decoration: none;
}

/*talk*/


.talk-box {
    width: 80%;
    height: 100px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
    background-color:#fff;
    margin:5px;
    border-radius:7px;
    -moz-box-shadow:0 2px 2px 0 rgba(0,0,0,0.2);
    -webkit-box-shadow:0 2px 2px 0 rgba(0,0,0,0.2);
    /*box-shadow:0 0px 5px 0 rgba(0,0,0,0.2);*/
}

.talk-box p {
    margin: 10px;
}

.talk-left {
    float: left;

}

.talk-right {
    float: right;
}

.talk-box p:nth-child(2) {
    margin-left: 20px;
}

/*user page*/

/*left*/

#panel-default {
    height: 600px;
    
    word-wrap: break-word;
}

.panel-default>.panel-heading {
    background-color: #fff;
    overflow: hidden;
}

.panel-title {
    display: inline;
    font-size: 22px;
    
}

.level {
    font-size: 16px;
     
}

.list-group-item-heading {
    background-color: #C2EEFF;
}

.list-group-item-text {
    padding-left: 10px;
    padding-right: 10px;
}

#comment.list-group-item-text {
    font-size: 16px;
    height: 30px;
}

#aboutme.list-group-item-text {
    font-size: 16px;
    
}

.button {
    text-align: center;
}

.button a {
    font-size: 20px;
}


.level {
    float: right;
}

/*right*/



.media {
    margin-left: 60px;
    
}

.talk-button-right {
    float: right;
    margin-right: 240px;
}

.user-name-left {
    font-size: 18px;
    
}

/*user 一覧*/

.row {
    margin-top: 25px;
    
}



.panel-heading-right {
    /*display: inline;*/
    float: right;
}

.panel-title-user {
    display: inline;
    font-size: 20px;
}

.thanks {
    display: inline;
    margin-left: 20px;
    border-bottom: 1px dashed;
}

.level-user {
    border-bottom: 1px dashed;
    margin-right: 30px;
}

.comment-user {
    width: 100px;
    height: 22.73px;
}

.panel-body {
    overflow: hidden;
    margin: 0;
    height: 146px;
    
}
.panel-body-right {
    margin-top: 15px;
    float: right;
}
.profile > a  {
    margin-bottom: 10px;
}
.talk-button {
    display: block;
}
.comment {
    font-size: 16px;
}
.paginate {
    text-align: center;
}





